/* .header {
  width: 600px;
  margin: 0 auto;
  font-family: "Gotham", sans-serif;
  font-style: none;
  font-weight: 50;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 0px;
} */

.header {
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Gotham;
  font-size: 18px;
  padding: 12px 30px;
  text-decoration: none;
}

#sectionH {
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sectionP {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid black;
  border-color: lightgrey;
}

p {
  width: 70%;
  margin: 0 auto;
  font-family: "Gotham", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-variant-ligatures: normal;
  font-size: 1.6rem;
  letter-spacing: 0px;
  line-height: 36pt;
}

#sectionBtn {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  color: initial;
}

.startButton {
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Gotham;
  font-size: 15px;
  padding: 12px 30px;
  text-decoration: none;
}

.startButton:hover {
  background-color: #f6f6f6;
}

.startButton:active {
  position: relative;
  top: 1px;
}
